[submodule "harbor-server"]
	path = harbor-server
	url = https://github.com/qiangyin/harbor-server.git
[submodule "jenkins-server"]
	path = jenkins-server
	url = https://github.com/qiangyin/jenkins-server.git
[submodule "gitlab-server"]
	path = gitlab-server
	url = https://github.com/qiangyin/gitlab-server.git
[submodule "console"]
	path = console
	url = https://github.com/qiangyin/console.git
[submodule "k8s-api-server"]
	path = k8s-api-server
	url = https://github.com/qiangyin/k8s-api-server.git
[submodule "config"]
	path = config
	url = https://github.com/qiangyin/config.git
[submodule "log-server"]
	path = log-server
	url = https://github.com/qiangyin/log-server.git
[submodule "gc-cloud-web"]
	path = gc-cloud-web
	url = https://github.com/qiangyin/gc-cloud-web.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/qiangyin/config-server.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/qiangyin/eureka-server.git
[submodule "zipkin-server"]
	path = zipkin-server
	url = https://github.com/qiangyin/zipkin-server.git
